.dashbrd {
  display: grid;
  grid-template-columns: 1fr;
}
.dashbrd-page {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
}
@media (min-width: 992px) {
  .dashbrd {
    grid-template-columns: auto 1fr;
  }
  .dashbrd-page {
    width: 90%;
  }
}
